header{
    width: 100%;
}

  //---------- --> NAV: <-- -------------//

.navigation{
    display: flex;
    align-items: center;
    padding: 18px 40px;
    width: 100%;
    gap: 30px;
    box-shadow:0 0.1rem 0.5rem #ccc;
    background: $white-normal;
    transition: all 0.5s;
    background-color: $white-normal;
    justify-content: flex-end;    
}
.navigation .nome-logo{
   
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 120px;
    margin-right: 50px;
    position: absolute;
    left: 0;
}
.navigation ul{

    display: flex;
    align-items: center;
    gap: 2em;  
}
.navigation .logo{
    position: absolute;
    margin-left: 50px;
    left: 0;
}
.navigation ul li a {
    color: $black-normal;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: #E9216D;
    font-weight: bold;
}
.menu{
    cursor: pointer;
    display: none;
    float: right;
    font-size: 35px;
}


.header-button{
    display: flex;
    align-items: center;
    margin-left: 0px;
    padding: 8px 24px;
    border-radius: 8px;
    color: $white-normal;
    background-color: #E9216D;
    transition: background-color 0.8s;
}
.header-button:hover{
    background-color: #fb3985;
}
.header-button i {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }


  //---------- --> RESPONSIVIDADE: <-- -------------//

@media screen and (max-width: 1000px){
    .navigation{
        position: relative; 
        top: 0; /* Posicioná-la na parte superior */
        width: 100%; /* Ocupar toda a largura da tela */
        z-index: 100;  
        } 
    
    .menu{
        display: block;
        float: right;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .header-button{
        display: none;
    }

    .menu{
        display: block;
        float: right;

    }

    .nav-menu{
        flex-direction: column;
        z-index: 99;
        position: fixed;
        right: -100%;
        top: 65px;
        width: 100%;
        height: 100%;
        background: white;
        gap: -90px;
        line-height: 3;
        transition: 0.3s;
        height: 100%;
    }
    .nav-menu.ativo{
        right: 0;  
        
           
    }
 
        
    .header-button{
        display: none;
    }
    .navigation .logo{

        position: absolute;
        display: flex;
        align-items: center;
        margin-left: 30px;
        left: 0;
       
    }
}
 
@media screen and (max-width: 768px){

 
    .header-button{
        display: none;
    }
    .navigation .logo{

        position: absolute;
        display: flex;
        margin-top: 20px;
        align-items: center;
        margin-left: 20px;
        left: 0;
    }
    .navigation .nome-logo{
        margin-left: 95px;
        font-size: 20px;
        font-weight: bold;
    }

}